<div class="container">
    <div class="container">
        <h1>Weekly Schedule</h1>
        <br>
        <li class="tuck green">3 waiters on the shift </li>
        <br>
        <li class="tuck orange">less then 3 waiters on the shift</li><br>
        <li class="tuck red">more than 3 waiters on the shift</li><br><br>
        <table>
            <thead>
                <tr>
                    {{#each list}}
                    <th class="{{color}}">{{days}}</th>
                    {{/each}}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each list}}
                    <td>{{waiters}}</td>
                    {{/each}}
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    </form>
    <button type="submit">Reset</button>
    </form>
    <button><a href="/">back</a></button>
</div>