<div class="container">
    <h1>Joe's Express Café</h1>
    <br>
    <h3>New Waiter?</h3>
    <form action="/" method="post">
        <span>Enter Name</span>
        <input type="text" name="name" id=""></input>
        <button type="submit">Add</button>
    </form>
    <br>
    <br>
    <div>
        <button><a href="waiters">Waiters</a></button>
        <button><a href="days">Admin</a></button>
    </div>
</div>